body { 
    color: whitesmoke;
    background-color: rgb(66, 65, 68) 
    }
    
#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

#articles {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 500px;
}

#notes {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-right: 5px;
}

textarea, input {
    display: block;
    width: 90%;
    background-color: rgb(247, 247, 247);
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
}